.edit {
	height: 100vh;

	&__wrapper {
		padding: 50px 0;
	}

	&__controls {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-bottom: 30px;
	}

	&__button {
		margin-right: 5px;

		&:last-of-type {
			margin-right: 0;
		}
	}

	&__title {
		font-size: 24px;
		font-weight: bold;
		margin: 10px 0;
	}

	&__gallery {
		margin: 40px 0 0 0;
	}

	&__map {
		margin: 20px 0;
	}

	&__info {
		margin: 20px 0;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
	}

	&__preloader {
		background-color: #f1f1f1;
		position: relative;
		margin-top: 4px;
		margin-bottom: 7px;
		height: 100%;
		width: 100%;
		display: flex;
		align-items: center;
		justify-content: center;

		&:before {
			content: "";
			position: absolute;
			height: 100%;
			right: 0;
			bottom: 0;
			top: 0;
			left: 0;
			transform: translateX(-100%);
			background-image: linear-gradient(
											90deg,
											rgba(#fff, 0) 0,
											rgba(#fff, 0.2) 20%,
											rgba(#fff, 0.5) 60%,
											rgba(#fff, 0)
			);
			animation: shine 2s infinite;
		}

		@keyframes shine {
			100% {
				transform: translateX(100%);
			}
		}
	}

	&__block {
		margin: 5px 0;
		max-width: 48%;
		width: 100%;
	}

	&__back-button {
		border: none;
		background-color: transparent;
		cursor: pointer;

		&:focus,
		&:hover {
			background-color: transparent;

			svg {
				fill: #000000;
			}
		}

		span {
			transform: rotate(180deg);
			margin-right: 5px;
			display: inline-block;
			line-height: 15px;
		}
	}

	&__elem {
		font-weight: bold;
		display: inline-block;
		margin-right: 5px;
	}

	&__map,
	&__y-map {
		width: 100%;
		height: 300px;
	}
}