.view {
	height: 100vh;
	min-height: 100%;

	&__header {
		margin-top: 80px;
	}

	&__reports {
		background-color: rgba(#000000, .5);
		position: absolute;
		top: 0;
		left: 0;
		z-index: 2;
		height: 100%;
		width: 100%;
	}

	&__report-panel {
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		z-index: 3;
	}

	.table-container {
		margin: 80px auto 80px auto;
	}
}

@media only screen and (max-width: 1280px) {
	.view {

		&__container,
		.table-container {
			width: 90%;
		}
	}
}

@media only screen and (max-width: 425px) {
	.view {

		&__header {
			margin-top: 40px;
		}

		.table-container {
			margin: 40px auto;
		}
	}
}