.legend {
	background-color: #ffffff;
	position: fixed;
	overflow: hidden;
	bottom: 80px;
	right: 25px;
	border-radius: 8px;
	max-width: 291px;
	width: 100%;
	font-size: 14px;
	overflow-y: auto;
	height: auto;
	max-height: 97%;
	z-index: 3;
	top: 20px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;

	&__wrapper {
		padding: 20px 30px;
	}

	&__title {
		margin-bottom: 30px;
		font-size: 18px;
	}

	&__button {
		border: none;
		cursor: pointer;

		&--close {
			background-color: #f1f1f1;
			padding: 15px 0;
			width: 100%;
		}
	}

	&__placemark {
		display: block;
		background-size: 34px 41px;
		width: 34px;
		height: 41px;
		flex-shrink: 0;
		position: relative;

		&--cluster {
			background-size: 34px 34px;
			width: 34px;
			height: 34px;

			&:after {
				content: "3";
				font-size: 10px;
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -40%);
			}
		}
	}

	&__placemark-icon {
		background-size: 15px 15px;
		height: 15px;
		width: 15px;
		position: absolute;
		top: 6px;
		left: 6px;
	}

	&__block {
		display: flex;
		align-items: center;
		margin-bottom: 20px;

		&:last-of-type {
			margin-bottom: 0;
		}
	}

	&__label {
		margin-left: 10px;
	}
}

@media only screen and (max-width: 768px) {
	.legend {
		bottom: 20px;
	}
}