.report-panel {
	background-color: #ffffff;
	position: fixed;
	overflow: hidden;
	top: 30px;
	right: 20px;
	border-radius: 8px;
	max-width: 640px;
	width: 100%;

	&__wrapper {
		display: flex;
		flex-direction: column;
		margin-bottom: 30px;

		&:last-of-type {
			margin-bottom: 0;
			border-bottom: none;
		}
	}

	&__container {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
	}

	&__collapsible {
		padding: 0;
		margin: 0;
		border: none;
		box-shadow: none;
	}

	&__collapsible-item {

		&:last-of-type {

			.collapsible-body {
				border-bottom: none;
			}
		}

		&.active {

			.collapsible-header {
				border-bottom: none;
			}
		}

		.collapsible-header {
			font-size: 18px;
			padding: 20px 30px;
		}

		.collapsible-body {
			padding: 20px 30px;
		}
	}

	&__button {
		margin: 5px 0;
	}

	&__select {
		margin-bottom: 10px;
		max-width: 280px;
	}

	&__subtitle {
		font-size: 16px;
		padding: 0;
		margin: 10px 0;
	}

	&__span {
		display: block;
	}

	&__label {
		margin-left: 5px;
	}

	&__block {

		&--half {
			width: 48%;
		}

		[type="checkbox"]+span:not(.lever) {
			line-height: 130%;
		}
	}
}