.report-panel {
	background-color: #ffffff;
	position: fixed;
	overflow: hidden;
	top: 20px;
	right: 20px;
	border-radius: 8px;
	max-width: 640px;
	width: 100%;
	z-index: 3;

	&__wrapper {
		display: flex;
		flex-direction: column;
		margin-bottom: 20px;

		&:last-of-type {
			margin-bottom: 0;
			border-bottom: none;
		}
	}

	&__container {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
	}

	&__close {
		position: absolute;
		top: 24px;
		right: 25px;
		border: none;
		background-color: transparent;
		cursor: pointer;
	}

	&__collapsible {
		padding: 0;
		margin: 0;
		border: none;
		box-shadow: none;
	}

	&__collapsible-item {

		&--prepared {

			.input-field {
				margin-top: 0;
			}
		}

		&:last-of-type {

			.collapsible-body {
				border-bottom: none;
			}
		}

		&.active {

			.collapsible-header {
				border-bottom: none;
			}
		}

		.collapsible-header {
			font-size: 18px;
			padding: 20px 30px;
		}

		.collapsible-body {
			padding: 20px 30px;
		}
	}

	&__button {
		margin: 5px 0;
	}

	&__select {
		margin-bottom: 10px;
		max-width: 280px;
	}

	&__subtitle {
		font-size: 18px;
		padding: 0;
		margin: 10px 0 25px;

		&--margin {
			margin: 10px 0 0 0;
		}
	}

	&__span {
		display: block;
	}

	&__label {
		margin-left: 5px;
	}

	&__button {
		min-height: 40px;
		height: auto;
		line-height: 1.6;

		&--close {
			display: none;
		}
	}

	&__block {

		&--half {
			width: 48%;
		}

		&--wrap {
			.input-field {
				margin-top: 10px;
				margin-bottom: 0;
			}
		}

		[type="checkbox"]+span:not(.lever) {
			line-height: 130%;
		}
	}
}

@media only screen and (max-width: 768px) {
	.report-panel {
		max-width: 100%;
		width: auto;
		top: 10px;
		left: 10px;
		right: 10px;
		z-index: 2;
		overflow-y: auto;
		height: auto;
		max-height: 97%;

		&__controls {
			margin-bottom: 10px;
		}

		&__button {

			&--close {
				margin-left: 10px;
				display: inline-block;
			}
		}
	}
}

@media only screen and (max-width: 425px) {
	.report-panel {

		&__collapsible-item {

			.collapsible-header {
				padding: 15px 20px;
			}

			.collapsible-body {
				padding: 10px 20px;
			}
		}

		&__block {

			&--half {
				width: 100%;
			}

			&--mobile-width {
				flex-direction: column;
			}
		}

		&__control {
			width: 100%;
		}

		&__button {
			font-size: 12px;

			&--close {
				margin-top: 10px;
				margin-left: 0;
			}
		}
	}
}