.report-view {

	&__title {
		font-size: 36px;
		font-weight: bold;
	}
	
	&__wrapper {
		position: relative;
	}

	&__loader {
		position: fixed;
		top: 0;
		left: 0;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		background-color: rgba(#ffffff, 0.8);
		width: 100%;
		height: 100%;
	}

	&__loader-message {
		margin-top: 15px;
	}

	&__modal {
		width: 100%;
		max-width: 80%;
		max-height: 80%;

		&.modal-fixed-footer {
			height: 100%;
		}

		&.modal {

			.report-view {

				&__button {

					&--footer {
						margin-right: 10px;

						&:last-of-type {
							margin-right: 0;
						}
					}
				}
			}
		}

		.modal-footer {
			padding: 10px 24px;
			height: auto;
		}
	}
}


@media only screen and (max-width: 768px) {
	.report-view {

		&__modal {
			top: 50px;
			max-height: 80%;
			max-width: 95%;
		}

		&__wrapper {

			thead {
				display: none;
			}

			tr {
				display: block;
				margin-bottom: 15px;
				border: 1px solid #ccc;

				&:last-of-type {
					margin-bottom: 0;
				}
			}

			td {
				display: block;
				text-align: right;
				font-size: 15px;
				border-bottom: 1px dotted #ccc;
				padding: 15px;

				&:last-of-type {
					border-bottom: none;
				}

				&:before {
					content: attr(data-label);
					float: left;
					text-transform: uppercase;
					font-weight: bold;
				}
			}
		}
	}
}

@media only screen and (max-width: 425px) {
	.report-view {

		&__button {

			&--footer {
				width: 100%;
			}
		}

		&__title {
			font-size: 24px;
			margin-bottom: 10px;
		}

		&__modal {
			top: 2% !important;
			max-height: 96%;

			&.modal-fixed-footer .modal-content {
				padding: 10px;
				height: calc(100% - 147px);
			}

			.modal-footer {
				display: flex;
				flex-wrap: wrap;
				padding: 10px;

				.btn {
					margin: 3px 0;
				}
			}
		}

		&__wrapper {

			td {
				font-size: 12px;
			}
		}
	}
}