.search-filter {
	position: fixed;
	top: 12px;
	left: 365px;

	&__select {
		margin-bottom: 10px;
		max-width: 280px;
	}

	&__span {
		display: block;
	}

	&__label {
		margin-left: 5px;
	}
}

@media only screen and (max-width: 768px) {
	.search-filter  {
		left: 15px;
		top: 80px;
	}
}
