.search-filter {
	position: fixed;
	top: 12px;
	left: 365px;
	min-width: 280px;

	.select-dropdown {
		max-height: 500px;
	}

	&__select {
		margin-bottom: 10px;
		max-width: 280px;
	}

	&__block {

		&--high {
			margin-bottom: 25px;

			&:last-of-type {
				margin-bottom: 0;
			}
		}

		&--years {
			margin-top: 25px;
			margin-bottom: 25px;
		}
	}

	&__span {
		display: block;
	}

	&__label {
		margin-left: 5px;
	}

	&__title {
		font-size: 18px;
		margin-top: 0;
		margin-bottom: 20px;
	}

	&--hidden {
		display: none;
	}

	&.inline {
		min-width: 100%;
		position: relative;
		top: 0;
		box-shadow: none;
		padding: 20px 0 10px 0;
	}
}

.inline {

	.search-filter {

		&__block {

			&--years {
				margin-top: 0;
				margin-bottom: 0;
			}
		}

		&__elem {
			width: 31%;

			&--offset {
				margin-top: 40px;

				.search-filter__block {
					margin-bottom: 8px;
				}
			}
		}

		&__flex {
			display: flex;
			flex-direction: row;
			align-items: flex-start;
			justify-content: space-between;
			width: 100%;
			flex-wrap: wrap;
		}
	}
}

@media only screen and (max-width: 768px) {
	.inline {

		.search-filter {

			&__flex {
				flex-wrap: wrap;
			}

			&__elem {
				width: 48%;

				&--offset {
					width: 100%;
					display: flex;
					justify-content: flex-start;
					flex-wrap: wrap;

					.search-filter__block {
						margin-right: 20px;
					}
				}
			}

			&__block {
				margin-bottom: 15px;

				&--years {
					width: 100%;
				}
			}
		}
	}
}

@media only screen and (max-width: 425px) {
	.inline {

		.search-filter {

			&__flex {
				flex-wrap: wrap;
			}

			&__elem {
				width: 100%;

				&--offset {
					flex-direction: column;

					.search-filter__block {
						margin-right: 0;
					}
				}
			}

			&__block {
				margin-bottom: 15px;

				&--years {
					width: 100%;
				}
			}
		}
	}
}