.single-view {
	max-height: 100%;
	background-color: #f6f6f6;
	height: 100%;
	font-size: 14px;
	padding: 10px 0;

	&__error {
		height: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		font-size: 18px;
		font-weight: bold;
		text-align: center;
	}

	&__block {
		padding: 20px;
		background-color: #ffffff;
		margin-bottom: 10px;

		&:last-of-type {
			margin-bottom: 0;
		}
	}

	&__title {
		font-weight: bold;
		font-size: 20px;
		line-height: 24px;
		margin-bottom: 5px;
		display: flex;
	}

	&__type {
		color: #999;
		line-height: 16px;
	}

	&__info {
		margin-top: 90px;
	}

	&__loader {
		width: 100%;
		height: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
	}

	&__button {
		border: none;
		background-color: transparent;
		cursor: pointer;

		&--back {
			transform: rotate(180deg);
			margin-right: 5px;
			position: absolute;
			top: 10px;

			&:focus,
			&:hover {
				background-color: transparent;

				svg {
					fill: #000000;
				}
			}
		}
	}

	&__header {
		padding: 40px 20px 20px 20px;
		background-color: #ffffff;
		position: relative;
	}

	&__schedule {
		margin-top: 15px;
	}

	&__arrow {

		&--svg {
			width: 15px;
			height: 15px;
			fill: #8c8c8c;
			transition: .3s;
		}
	}

	&__subtitle {
		margin-bottom: 5px;
		font-weight: bold;

		&--inline {
			display: inline;
			margin-right: 5px;
		}
	}

	&__elem {
		margin-bottom: 20px;

		&:last-of-type {
			margin-bottom: 0;
		}
	}
}